vti_encoding:SR|utf8-nl
vti_author:SR|JIMCORRIGAN\\Jim
vti_modifiedby:SR|JIMCORRIGAN\\Jim
vti_timelastmodified:TR|05 Feb 2015 20:29:03 -0000
vti_timecreated:TR|27 Jan 2015 14:18:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|AutoObsessions/SlotsMini/game.html AutoObsessions/slots/game.html
vti_nexttolasttimemodified:TW|05 Feb 2015 20:27:13 -0000
vti_cacheddtm:TX|05 Feb 2015 20:29:03 -0000
vti_filesize:IR|3782
vti_cachedlinkinfo:VX|S|../images/Buttons/down_Arrow.png S|../images/Buttons/up_Arrow.png
vti_cachedsvcrellinks:VX|FSUS|AutoObsessions/SlotsMini/images/Buttons/down_Arrow.png FSUS|AutoObsessions/SlotsMini/images/Buttons/up_Arrow.png
