vti_encoding:SR|utf8-nl
vti_author:SR|ALEXS\\TzL
vti_modifiedby:SR|ALEXS\\TzL
vti_timelastmodified:TR|30 Nov 2014 20:56:19 -0000
vti_timecreated:TR|30 Nov 2014 19:23:12 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|SPACE\\ INVADERS/game.html
vti_nexttolasttimemodified:TW|30 Nov 2014 20:56:15 -0000
vti_cacheddtm:TX|30 Nov 2014 20:56:19 -0000
vti_filesize:IR|6218
vti_cachedlinkinfo:VX|S|../Images/background.png S|../Images/logo.png S|../Images/logo.png S|../images/soundOn.png S|../images/auctionButton.png S|../images/repairButton.png S|../images/repairBackButton.png S|../images/repairBackButton.png S|../images/repairBackButton.png S|../images/addFundsButton.png S|../images/inventoryButton.png S|../images/soundOff.png S|../images/logo.png S|../images/logo.png S|../images/logo.png
vti_cachedsvcrellinks:VX|FSUS|SPACE\\ INVADERS/Images/background.png FSUS|SPACE\\ INVADERS/Images/logo.png FSUS|SPACE\\ INVADERS/Images/logo.png NSUS|SPACE\\ INVADERS/images/soundOn.png NSUS|SPACE\\ INVADERS/images/auctionButton.png NSUS|SPACE\\ INVADERS/images/repairButton.png NSUS|SPACE\\ INVADERS/images/repairBackButton.png NSUS|SPACE\\ INVADERS/images/repairBackButton.png NSUS|SPACE\\ INVADERS/images/repairBackButton.png NSUS|SPACE\\ INVADERS/images/addFundsButton.png NSUS|SPACE\\ INVADERS/images/inventoryButton.png NSUS|SPACE\\ INVADERS/images/soundOff.png FSUS|SPACE\\ INVADERS/images/logo.png FSUS|SPACE\\ INVADERS/images/logo.png FSUS|SPACE\\ INVADERS/images/logo.png
