body
{
	width:1024px;
	height:768px;
	max-width:100%;
	max-height:inherit;
	margin: 0px 0px 0px 0px;
	overflow:hidden;
}


/*Canvas*/
div#maindiv
{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	overflow:hidden;
}

canvas#backgroundImage
{
	position:relative;
	left:2.5%;
	top:3%;
	width:100%;
	height:auto;
	background-image:url('../images/slotbody.png');
	background-repeat:no-repeat;
	background-position::center center;
	background-color:black;
	background-size:100%;
	margin:0%;
	z-index:0;
}
canvas#slot1
{
	position:absolute;
	left:25%;
	top:10%;
	width:17%;
	height:auto;
	z-index: 3;
}

canvas#slot2
{
	position:absolute;
	left:43%;
	top:10%;
	width:17%;
	height:auto;
	z-index: 3;
}

canvas#slot3
{
	position:absolute;
	left:61%;
	top:10%;
	width:17%;
	height:auto;
	z-index: 3;
}

/*Text Divs*/
div#welcomeTextDiv
{
	position:absolute;
	left:23%;
	top: 0%;
	width:50%;
	height:2%;
	font-family:Digifit;
	font-size:x-large;
	text-align:center;
	color:red;
	z-index: 3;
}

div#resultsTextDiv
{
	position:absolute;
	left:30%;
	top:30%;
	width:40%;
	height:2%;
	font-family:Digifit;
	font-size:large;
	text-align:center;	
	color:aqua;
	z-index: 3;
}

div#wonTextDiv
{
	position:absolute;
	left:26%;
	top:35%;
	width:50%;
	height:3%;
	font-family:Digifit;
	font-size:xx-large;
	text-align:center;
	color:white;
	z-index: 3;
}

div#betText
{
	position:absolute;
	left:10%;
	top:30%;
	width:7%;
	height:6%;
	background-image:url('../images/Buttons/betTxt.png');
	background-repeat:no-repeat;
	z-index: 3;

}

div#betValue
{
	position:absolute;
	left:17%;
	top:30%;
	width:4%;
	height:5%;
	font-family:Digifit;
	font-size:xx-large;
	color:antiquewhite;
	text-align:center;
	z-index: 3;
}

div#bankValue
{
	position:absolute;
	left:0%;
	top:2%;
	width:20%;
	height:5%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:xx-large;
	text-align:center;
	color:silver;
	z-index: 3;
}


div#placeBetText
{
	position:absolute;
	left:7.5%;
	top:63%;
	width:20%;
	height:10%;
	background-image:url('../images/Buttons/BetButton.png');
	background-repeat:no-repeat;
	z-index: 3;
}

/*Buttons*/
button#spinButton
{
	position:absolute;
	left:75%;
	top:63%;
	width:16%;
	height:9%;
	background-image:url('../images/Buttons/SpinButton.png');
	background-repeat:no-repeat;
	background-position:center;
	z-index: 3;
}

button#lowerBetButton
{
	position:absolute;
	left:23.5%;
	top:68%;
	width:2.75%;
	height:5%;
	background-image:url('../images/Buttons/down_Arrow.png');
	background-repeat:no-repeat;
	z-index: 3;

}

button#raiseBetButton
{
	position:absolute;
	left:23.5%;
	top:63%;
	width:2.75%;
	height:5%;
	background-image:url('../images/Buttons/up_Arrow.png');
	background-repeat:no-repeat;
	z-index: 3;
}

button#maxBetButton
{
	position:absolute;
	left:27%;
	top:61.5%;
	width:11%;
	height:6.75%;
	background-image:url('../images/Buttons/MaxBetButton.png');
	background-repeat:no-repeat;
	z-index: 3;
}

button#minBetButton
{
	position:absolute;
	left:27%;
	top:68%;
	width:11%;
	height:6.75%;
	background-image:url('../images/Buttons/minBetButton.png');
	background-repeat:no-repeat;
	z-index: 3;
}

button#slotStop
{
	position:absolute;
	left:42%;
	top:45%;
	width:21%;
	height:12.5%;
	background-image:url('../images/Buttons/stopButton.png');
	/*background-position:center;*/
	background-repeat:no-repeat;
	z-index: 3;
}

/*Lights*/
/*Right*/
div#rightSignal
{
	position:absolute;
	width:2.5%;
	height:15%;
	right:9%;
	top:40%;
	
	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */
	
	-moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;

	background-image:url('../images/Lights/RightSignalOn.png');
	background-repeat:no-repeat;
	z-index:3;
}
div#upperRightHead
{
	position:absolute;
	width:10%;
	height:15%;
	right:10%;
	top:40%;
	
	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */
	
    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/lowerRightHeadON.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}
div#lowerRightHead
{
	position:absolute;
	width:10%;
	height:15%;
	right:10%;
	top:48%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/lowerRightHeadON.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}
div#upperRightRunning
{
	position:absolute;
	width:5%;
	height:10%;
	right:17.5%;
	top:40.5%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/upperRightRunningOn.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}
div#lowerRightRunning
{
	position:absolute;
	width:5%;
	height:15%;
	right:17.5%;
	top:48.5%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/upperRightRunningOn.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}

/*Left*/
div#leftSignal
{
	position:absolute;
	width:10%;
	height:15%;
	left:10%;
	top:41%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/leftsignalon.png');
	background-repeat:no-repeat;
	z-index:3;
}
div#upperLeftHead
{
	position:absolute;
	width:10%;
	height:15%;
	left:12%;
	top:41%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/leftUpperHeadon.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}
div#lowerLeftHead
{
	position:absolute;
	width:10%;
	height:15%;
	left:12%;
	top:49%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/leftUpperHeadon.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}
div#upperLeftRunning
{
	position:absolute;
	width:5%;
	height:15%;
	left:21%;
	top:41%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/leftUpperRunningon.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}
div#lowerLeftRunning
{
	position:absolute;
	width:5%;
	height:15%;
	left:21%;
	top:49%;

	-moz-transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
	
	/* order: name, direction, duration, iteration-count, timing-function */  
	-moz-animation:blink normal .5s infinite ease-in-out; /* Firefox */
	-webkit-animation:blink normal .5s infinite ease-in-out; /* Webkit */
	-ms-animation:blink normal .5s infinite ease-in-out; /* IE */
	animation:blink normal .5s infinite ease-in-out; /* Opera */

    -moz-animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-ms-animation-play-state:paused;
	animation-play-state:paused;
	
	background-image:url('../images/Lights/leftUpperRunningon.png');
	background-repeat:no-repeat;
	opacity:0%;
	z-index:3;
}

@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera */