div#canvasdiv
{
	position:relative;
	width:1705px;
	height:1000px;
	top:0px;
	left:0px;
	background-color:black;
	background-image:url('../images/slot body.png');
	background-repeat:no-repeat;
	/*max-height:inherit;
	max-width:inherit;*/
	z-index:0;
	/*margin:auto;*/
}

canvas#slot1
{
	border:25;
	border-color:silver;
	position:absolute;
	left:390px;
	top:75px;
	width:278px;
	height:158px;
	z-index: 3;
	/*background-image: url('../images/Splash.png');*/
}

canvas#slot2
{
	border:10;
	border-color:maroon;
	position:absolute;
	left:723px;
	top:75px;
	width:278px;
	height:158px;
	z-index: 3;
/*	background-image: url('../images/Splash.png');*/
}

canvas#slot3
{
	border:10;
	border-color:maroon;
	position:absolute;
	left:1051px;
	top:75px;
	width:278px;
	height:158px;
	z-index: 3;
/*	background-image: url('../images/Splash.png');*/
}

div#welcomeTextDiv
{
	font-family:Digifit;
	font-size:x-large;
	text-align:center;
	color:red;
	/*background-color:aqua;*/
	/*border:medium;
	border-color:silver;*/
	left:400px;
	top: 0px;
	width:900px;
	height:50px;
	position:absolute;
	z-index: 3;
}

div#textDiv2
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:large;
	text-align:center;	
	color:aqua;
	/*background-color:aqua;
	border:medium;
	border-color:silver;*/
	left:675px;
	top:320px;
	width:360px;
	height:50px;
	position:absolute;
	z-index: 3;
}

div#wonDiv
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:xx-large;
	text-align:center;
	color:white;
	/*background-color:aqua;
	border:medium;
	border-color:silver;*/
	left:675px;
	top:380px;
	width:360px;
	height:50px;
	position:absolute;
	z-index: 3;
}

div#betText
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	text-align:center;
	width:111px;
	height:57px;
	position:absolute;
	left:175px;
	top:300px;
	background-image:url('../images/Buttons/betTxt.png');
	z-index: 3;

}

div#betValue
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:large;
	background-color:aqua;
	text-align:center;
	width:70px;
	height:57px;
	position:absolute;
	left:287px;
	top:300px;
	z-index: 3;
}

div#bankValue
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:xx-large;
	text-align:center;
	color:silver;
	/*background-color:aqua;
	border:medium;
	border-color:silver;*/
	left:0px;
	top:55px;
	width:300px;
	height:50px;
	position:absolute;
	z-index: 3;
}

button#spinButton
{
	width:270px;
	height:85px;
	position:absolute;
	left:1300px;
	top:525px;
	background-image:url('../images/Buttons/SpinButton.png');

	background-repeat:no-repeat;
	background-position:center;
	z-index: 3;
}

div#placeBetText
{
	width:264px;
	height:84px;
	position:absolute;
	left:125px;
	top:525px;
	background-image:url('../images/Buttons/BetButton.png');
	background-repeat:no-repeat;
	z-index: 3;
}

button#lowerBetButton
{
	width:42px;
	height:42px;
	position:absolute;
	left:390px;
	top:567px;
	background-image:url('../images/Buttons/down_Arrow.png');
	background-repeat:no-repeat;
	z-index: 3;

}

button#raiseBetButton
{
	width:42px;
	height:42px;
	position:absolute;
	left:390px;
	top:525px;
	background-image:url('../images/Buttons/up_Arrow.png');
	background-repeat:no-repeat;
	z-index: 3;

}

button#maxBetButton
{
	width:181px;
	height:57px;
	position:absolute;
	left:458px;
	top:509px;
	background-image:url('../images/Buttons/MaxBetButton.png');
	background-repeat:no-repeat;
	z-index: 3;
}

button#minBetButton
{
	width:181px;
	height:57px;
	position:absolute;
	left:458px;
	top:567px;
	background-image:url('../images/Buttons/minBetButton.png');
	background-repeat:no-repeat;
	z-index: 3;

}

button#slotStop
{
	width:360px;
	height:114px;
	top:425px;
	left:675px;
	position:absolute;
	background-image:url('../images/Buttons/stopButton.png');
	background-position:center;
	background-repeat:no-repeat;
	z-index: 3;
}