#canvasdiv
{
	position:relative;
	width:100%;
	height:100%;
	max-height:768px;
	max-width:1024px;
	margin:auto;
}

#myCanvas
{
	left:135px;
	top:0px;
	width:896px;
	height:768px;
	position:absolute;
	z-index:3;
	visibility:hidden;
	/*background-color:white;*/
}