vti_encoding:SR|utf8-nl
vti_author:SR|JIMCORRIGAN\\Jim
vti_modifiedby:SR|JIMCORRIGAN\\Jim
vti_timelastmodified:TR|30 Jan 2015 20:21:58 -0000
vti_timecreated:TR|27 Jan 2015 14:18:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|AutoObsessions/slots/game.html
vti_nexttolasttimemodified:TW|30 Jan 2015 20:18:32 -0000
vti_cacheddtm:TX|30 Jan 2015 20:21:58 -0000
vti_filesize:IR|3989
vti_cachedlinkinfo:VX|S|../images/Buttons/betTxt.png S|../images/Buttons/SpinButton.png S|../images/Buttons/BetButton.png S|../images/Buttons/lowerBetButton.png S|../images/Buttons/MaxBetButton.png S|../images/Buttons/minBetButton.png S|../images/Buttons/stopButton.png
vti_cachedsvcrellinks:VX|FSUS|AutoObsessions/slots/images/Buttons/betTxt.png FSUS|AutoObsessions/slots/images/Buttons/SpinButton.png FSUS|AutoObsessions/slots/images/Buttons/BetButton.png FSUS|AutoObsessions/slots/images/Buttons/lowerBetButton.png FSUS|AutoObsessions/slots/images/Buttons/MaxBetButton.png FSUS|AutoObsessions/slots/images/Buttons/minBetButton.png FSUS|AutoObsessions/slots/images/Buttons/stopButton.png
